<html>
<head>
  <meta
 content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Template #1</title>
</head>
<body
 style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);"
 alink="#ffffff" link="#ffffff" vlink="#ffffff">
<table
 style="background-color: rgb(118, 131, 184); width: 800px; text-align: left; margin-left: auto; margin-right: auto;"
 border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td
 style="text-align: center; font-family: Helvetica,Arial,sans-serif;"><big><big><big><big><span
 style="font-weight: bold; color: rgb(255, 255, 255);">TEMPLATE
#1</span></big></big></big></big></td>
    </tr>
  </tbody>
</table>
<table
 style="width: 800px; text-align: left; margin-left: auto; margin-right: auto;"
 border="0" cellpadding="10" cellspacing="0">
  <tbody>
    <tr>
      <td
 style="vertical-align: top; background-color: rgb(118, 131, 184); width: 100px;"><small
 style="font-weight: bold; text-decoration: underline; color: rgb(255, 204, 204);">LINK
SECTION A</small><br>
      <br>
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #1</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #2</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #3</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #4</span></a><br
 style="color: rgb(255, 255, 255);">
      <span
 style="color: rgb(255, 255, 255);"><a
 href="http://www.webmastercourse.com/">LINK #5</a><br>
      <br>
      <small
 style="text-decoration: underline; font-weight: bold; color: rgb(255, 204, 204);">LINK
SECTION B<br>
      <br>
      </small></span><a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #6</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #7</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #8</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #9</span></a><br
 style="color: rgb(255, 255, 255);">
      <span
 style="color: rgb(255, 255, 255);"><a
 href="http://www.webmastercourse.com/">LINK #10</a><br>
      <br>
      </span><span
 style="color: rgb(255, 255, 255);"><small
 style="text-decoration: underline; font-weight: bold; color: rgb(255, 204, 204);">LINK
SECTION C<br>
      <br>
      </small></span><a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #11</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #12</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #13</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #14</span></a><br
 style="color: rgb(255, 255, 255);">
      <a
 href="http://www.webmastercourse.com/"><span
 style="color: rgb(255, 255, 255);">LINK #15</span></a></td>
      <td
 style="vertical-align: top; text-align: center;"><big><big><span
 style="font-weight: bold;"><span
 style="color: rgb(102, 0, 0); font-style: italic;">TYPE
YOUR CONTENT
HERE</span><br>
      <br>
      </span></big></big>
      <div style="text-align: left;"><big><span
 style="font-family: Helvetica,Arial,sans-serif;">Type
your web page content here. &nbsp;Your home page (or main page)
should have an introduction or sales presentation. &nbsp;Additional
pages can describe individual products and services or provide useful
articles surrounding your Web site's theme.</span><br
 style="font-family: Helvetica,Arial,sans-serif;">
      <br
 style="font-family: Helvetica,Arial,sans-serif;">
      <span
 style="font-family: Helvetica,Arial,sans-serif;">You
can
always expand the link menu or create submenus to add
additional content to your Web site.</span><br
 style="font-family: Helvetica,Arial,sans-serif;">
      <br
 style="font-family: Helvetica,Arial,sans-serif;">
      <span
 style="font-family: Helvetica,Arial,sans-serif;">This
template contains two tables.
&nbsp;The top table contains the heading "Template #1".
&nbsp;The next table is divided into two sections called "cells."
&nbsp;One cell is the same color as the heading table, the other
cell (this one) is white. &nbsp;White should always be your first
choice for extensive reading areas.</span><br
 style="font-family: Helvetica,Arial,sans-serif;">
      <br
 style="font-family: Helvetica,Arial,sans-serif;">
      <span
 style="font-weight: bold; text-decoration: underline; color: rgb(255, 0, 0); font-family: Helvetica,Arial,sans-serif;">Note:</span><span
 style="font-family: Helvetica,Arial,sans-serif;">
&nbsp;Images and
text can be added to any of the tables.</span><big><span
 style="font-weight: bold;"></span></big></big><big><big><span
 style="font-weight: bold;"></span></big></big></div>
      </td>
    </tr>
  </tbody>
</table>
<br>
</body>
</html>