<html>
 <head>
  <title> Contact Us</title>
 </head>
 <body>
  <p>
     <h2>Friends Marketing </h2> <br>
     <h2>Last Bench </h2> <br>
  </p>
  <p>
    <a href="mailto:nagillarakeshreddy@gmail.com">Email Rakesh</a>
    <a href="mailto:mamidishravan@gmail.com">Email Shravan</a>
</p>
<br><br>
Your email is <%= @data %>.
</body>
</html>