<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <link rel ="stylesheet" type="text/css" href="style.css"/>
  <title> Sab se Sastha</title> 
 </head>
 <body>
  
   <h1> Sab se Sastha</h1> 
   <p class = email_box>
    Email: <input type = "text"><input type = "submit" value="Submit">
  </p>
    <a href ="/home/rakesh/Desktop/skare/css/homepage.html">
    <img border='0' src="/home/rakesh/Desktop/skare/css/sabsesastha.png" alt="sabsesastha" class="image" width="300" height="100"/></a>

  <p class = bottom_box>
    
  &nbsp; <a href="http://www.google.com/books"> Contact Us </a>
  &nbsp; <a href="http://www.google.com/books"> About Us </a>
  &nbsp; <a href="http://www.google.com/books"> F.A.Q's </a>
  &nbsp; <a href="http://www.google.com/books"> How it works ? </a>
  
 </p>
  
 </body>
</html

